<html>
<head>
    
    <script></script>
    
    
</head>

  <body>
    <form action="/add" method="post">
        
    <input type="text" placeholder="email" name="email"> <br>
    <input type="text" placeholder="pass" name="pass"><br>
    <input type="submit">
        
      </form>
    </body>  
    

</html>