<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <div id='get'>
      <button type="button" id='gg' class="btn btn-primary">الحصول على حساب</button>
      </div>
      
      <div id='im'>
      <h1>Email: <span style="color: #0200eef2;
    background-color: #a4a470;" id='email'>samer@gmail.com</span></h1>
       <h2>Password: <span style="    color: #1fb402f5;
    background-color: #373701;" id='password'>samersamer</span></h2>
      </div>
      
      
      <script src="javascripts/main.js"></script>
  </body>
</html>
